:root {
    /* Цвета */
    --purple-color: #9e63d7;
    --bright-pink-color: #F77BC8;
    --light-puple-color: #f9e7f7;
    --purple-gray-color: #b8b7c8;
    --border-color: #f7f3fa;
    --white-background-color: #fefefe;
    --white-color: #ffffff;
    --black-color: #000000;
}