@import '../styles/variables.css';

.todo-main{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid #f7edf6;
    background: #fbf6fb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    overflow: hidden;
}

.todo-title{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 46px;
}

.todo-title h1{
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
}

.todo-title div{
    font-size: 14px;
    line-height: 34px;
    background-color: var(--light-puple-color);
    padding: 0px 10px;
    border-radius: 50px;
    color: var(--purple-color);
    font-weight: 600;
}