@import '../styles/variables.css';

.todo-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fcf8fd;
    border-radius: 10px;
    border: 1.5px solid var(--border-color);
}

.todo-footer-tasks{
    width: 50%;
    border-right: 1.5px solid #ede6f2;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.todo-footer-icon{
    width: 60px;
    height: 60px;
    background: var(--light-puple-color);
    padding: 10px;
    border-radius: 10px;
}

.todo-footer-tasks-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: var(--purple-gray-color);
}

.todo-footer-tasks-count{
    font-size: 18px;
    color: var(--purple-gray-color);
}

.todo-footer-tasks-count span{
    font-weight: 600;
    font-size: 24px;
    color: var(--black-color);
}

.clear-completed-button{
    background: transparent;
    color: var(--bright-pink-color);
    border: 2px solid var(--bright-pink-color);
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    font-weight: 600;
}