@import '../styles/variables.css';

.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--white-background-color);
    border-radius: 10px;
    border: 1.5px solid var(--border-color);
}

.todo-item div{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.todo-item .delete-button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--bright-pink-color);
    font-weight: 600;
}