.todo-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 50dvh;
    overflow-y: auto;
}

@media (max-width: 768px){
    .todo-list{
        height: auto;
        overflow-y: visible;
    }
}